//-
	Robots Indexing
- if(core.robots == true)
	meta(name="robots" content="index,follow")
	meta(name="googlebot" content="index,follow")
-else
	meta(name="robots" content="noindex,nofollow")
	meta(name="googlebot" content="noindex,nofollow")
