.c-hero {
	@include bp( m($bp, tablet) ) {
		padding-top: 90px;
		padding-bottom: 90px;
	}

	position: relative;

	width: 100%;

	padding-top: 40px;
	padding-bottom: 40px;

	color: white;
	&:before {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 20;

		width: 100%;
		height: calc(100% + 100px);

		content: '';

		background-color: rgba(m($color, primaryDark), 0.75);
	}

	&__title {
		@include bp( m($bp, tablet) ) {
			font-size: 60px;
		}

		position: relative;
		left: -0.11em;
		z-index: 100;

		color: white;

		font-size: 30px;
		font-weight: 300;
		line-height: 0.85em;

		text-align: center;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		&:after {
			display: block;

			width: 60px;
			height: 3px;

			margin-top: 20px;
			margin-right: auto;
			margin-left: auto;

			content: '';

			background-color: m($color, secondary);
		}
	}
	&__content {
		position: relative;
		z-index: 100;

		margin-top: 30px;

		font-size: 22px;
		font-weight: 300;

		text-align: center;
	}
	&__img {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 10;

		width: 100%;
		height: calc(100% + 100px);

		background-color: m($color, primaryDark);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		filter: contrast(1) grayscale(0.15);
	}
}
