/**********
Row
**********/

.l-row {
	$gutter: 40px;

	width: calc(100% + #{$gutter});

	@extend %cf;
	&__item {
		float: left;

		margin-right: $gutter;

		@for $i from 1 through 12 {
			&--#{$i} {
				$width: floor($i / 12 * 100000) / 1000;

				width: calc( #{$width}% - #{$gutter} );
			}
		}
	}

	&__third, &__fourth {
		float: left;

		margin-right: 40px;
	}

	&__third {
		@include bp(0, m($bp, tablet) ) {
			margin-top: 40px;
			&:first-child {
				margin-top: 0;
			}
		}
		@include bp( m($bp, tablet) ) {
			width: calc(33.33% - 40px);
		}

		width: calc(100% - 40px);
	}
	&__fourth {
		width: calc(25% - 40px);
	}
}
